{% extends 'base.html' %}

{% block title %}
HomeFilmes hashflix
{% endblock %}

{% block content %}
<div class="py-16">
    <h1>Essa é a pagina de HomeFilmes</h1>
    {% for filme in object_list %}
    <hr>
    <a href="{% url 'filme:detalhesfilme' filme.pk %}">{{ filme.titulo }}</a>
    <p>{{ filme.descricao }}</p>
    <div class="w-80">
        <img src="{{ filme.thumb.url }}">
    </div>
    {% endfor %}
</div>

<div class="py-8">
    <h1>Filmes Recentes</h1>
    {{ lista_filmes_recentes }}
</div>

<div class="py-8">
    <h1>Em alta</h1>
    {{ lista_filmes_emalta }}
</div>

{% endblock %}